<template>
	<div v-if="dataGrafico">
		<trading-vue
			:data="dataGrafico"
			title-txt="Test"
			:width="width"
			:height="height"
			:toolbar="true"
			:overlays="overlays"
			:color-back="colors.back"
			:color-grid="colors.grid"
			:color-text="colors.text"
			:color-cross="colors.cross"
			:color-candle-dw="colors.candle_dw"
			:color-wick-dw="colors.wick_dw"
			:color-title="colors.tvTitle"
		>
		</trading-vue>
	</div>
</template>
<script>
import { DataCube } from "trading-vue-js";
import TradingVue from "trading-vue-js";

export default {
	name: "MainChart",
	components: { TradingVue },

	data: () => ({
		overlays: [],
		night: true,
		dataGrafico: null,
		width: 320,
		height: 480,
		dataAgregar: [
			[1629428400, 259, 263, 257.149, 261.60001, 70912],
			[1629687600, 263.04999, 275, 263.05, 274.75, 196205],
			[1629774000, 281.85001, 293.9, 281.85, 293, 432169],
			[1629860400, 295.79999, 309, 290.85, 306.39999, 525981],
			[1629946800, 299.95001, 310, 298, 303.25, 339748],
			[1630033200, 315.10001, 319.1, 310.2, 312.10001, 530955],
			[1630292400, 310.20001, 339.5, 310.2, 334.60001, 469767],
			[1630378800, 333.5, 339.5, 327, 328.75, 500267],
			[1630465200, 329.5, 342, 322.25, 324.54999, 273711],
			[1630551600, 323.04999, 332.95, 314.05, 317.85001, 360384],
			[1630638000, 318.5, 320, 312, 315.54999, 86339],
			[1630897200, 320, 322, 316, 321.25, 129288],
			[1630983600, 324, 343.9, 324, 339.14999, 504444],
			[1631070000, 337.95001, 337.95, 320.1, 330, 698096],
			[1631156400, 338.25, 341.5, 326, 334.10001, 485992],
			[1631242800, 335, 340, 325.3, 333.45001, 539148],
			[1631502000, 372, 377.25, 347.6, 352.85001, 884448],
			[1631588400, 356.20001, 366.6, 350, 356.95001, 508759],
			[1631674800, 358, 358, 340, 346.45001, 257500],
			[1631761200, 339.85001, 358.9, 334.05, 352.70001, 291270],
			[1631847600, 350, 359, 349, 353.54999, 245778],
			[1632106800, 343.5, 343.5, 317.05, 319.35001, 513314],
			[1632193200, 319.35001, 323.65, 317, 317.79999, 226641],
			[1632279600, 320.10001, 328.75, 318.2, 322.29999, 242269],
			[1632366000, 326, 326, 317, 319.04999, 91589],
			[1632452400, 319.95001, 319.95, 310, 312.04999, 109303],
			[1632711600, 313, 323, 313, 322.5, 109191],
			[1632798000, 323, 327, 316, 320, 48875],
			[1632884400, 322.20001, 333.5, 322.2, 328.45001, 93441],
			[1632970800, 328.54999, 338, 327, 328.25, 221125],
			[1633057200, 330, 336, 327, 330.75, 66632],
			[1633316400, 332, 338.5, 321.1, 325.29999, 116726],
			[1633402800, 326, 330.5, 321, 326.70001, 138947],
			[1633489200, 326.64999, 326.65, 316.05, 324.60001, 27555],
			[1633575600, 332, 332, 318.6, 320.35001, 90526],
			[1634007600, 318.14999, 326, 312.25, 315.29999, 90286],
			[1634094000, 315, 318.85, 311, 316.45001, 62668],
			[1634180400, 316.5, 325.85, 316.5, 324.95001, 120833],
			[1634266800, 327.60001, 339.9, 327.6, 334.64999, 163973],
			[1634526000, 336.20001, 339, 329.15, 334.29999, 172101],
			[1634612400, 334.5, 339.95, 329.5, 337.89999, 242407],
			[1634698800, 339.54999, 362.85, 339.55, 361.10001, 526666],
			[1634785200, 359.39999, 360, 351.05, 358.45001, 209067],
			[1634871600, 359.29999, 360, 348.1, 357.25, 231982],
			[1635130800, 360, 368.9, 360, 365.14999, 164120],
			[1635217200, 369.79999, 371.8, 357, 358.70001, 254073],
			[1635303600, 356, 358.6, 338.15, 339.35001, 628050],
			[1635390000, 342, 346.45, 338.2, 341.10001, 223840],
			[1635476400, 338.5, 338.5, 324.35, 327, 433656],
		],
		historico: [
			[1623034800, 300, 311, 300, 305.39999, 1076195],
			[1623121200, 305.5, 308, 290.35, 293.54999, 287779],
			[1623207600, 297.95001, 310.5, 294, 303.5, 328210],
			[1623294000, 309, 311.9, 298.3, 301.20001, 398808],
			[1623380400, 298.45001, 299, 289, 290.25, 238369],
			[1623639600, 293.10001, 296.55, 289.25, 290.39999, 287692],
			[1623726000, 291, 295, 278.6, 294.10001, 347707],
			[1623812400, 295, 303.5, 295, 301.5, 294231],
			[1623898800, 303, 304.5, 290, 291.60001, 247067],
			[1623985200, 285.5, 289.05, 282, 285.5, 160057],
			[1624330800, 278, 293, 272, 286.89999, 648595],
			[1624417200, 290, 292, 277.1, 278.79999, 328844],
			[1624503600, 280, 282, 277, 278.39999, 131289],
			[1624590000, 267.25, 271, 265, 269.70001, 403202],
			[1624849200, 269.70001, 269.7, 264.2, 265, 160554],
			[1624935600, 260, 264.2, 256, 258.14899, 286814],
			[1625022000, 257.95001, 260.55, 255, 255.25, 168758],
			[1625108400, 256, 259.399, 249.7, 253.35001, 181964],
			[1625194800, 255.95, 263.5, 252.05, 258.95001, 214674],
			[1625454000, 265, 267, 261, 265.89999, 75098],
			[1625540400, 265.5, 265.5, 252.1, 252.7, 362507],
			[1625626800, 252.05, 252.95, 246.1, 250.05, 397289],
			[1625713200, 247.3, 248.7, 242.4, 245, 176971],
			[1626058800, 246.14999, 257, 244.15, 256.45001, 231171],
			[1626145200, 255, 259.899, 253.05, 258.20001, 135742],
			[1626231600, 260.04999, 264.25, 253.1, 256.95001, 163223],
			[1626318000, 257, 257.95, 249.1, 250.60001, 104472],
			[1626404400, 249.95, 250.8, 247.2, 248.10001, 61598],
			[1626663600, 242.89999, 250.5, 239.1, 248, 244382],
			[1626750000, 245.60001, 248.9, 243, 247.35001, 275595],
			[1626836400, 254, 260.95, 254, 259.45001, 229390],
			[1626922800, 256.75, 256.75, 251.6, 253, 131778],
			[1627009200, 251, 254, 246, 246.89999, 197444],
			[1627268400, 250, 254.9, 247.25, 250.3, 81312],
			[1627354800, 248.64999, 253.05, 245.75, 252, 76363],
			[1627441200, 253.10001, 256.899, 251, 253.14999, 117411],
			[1627527600, 254, 258.3, 247, 252.10001, 144012],
			[1627614000, 255, 255, 245.55, 245.8, 150799],
			[1627873200, 249.5, 249.5, 241.5, 242, 230807],
			[1627959600, 244, 247.65, 240.8, 246.64999, 152407],
			[1628046000, 247.89999, 248, 241, 244.10001, 108768],
			[1628132400, 247.5, 249, 244.5, 247.89999, 158492],
			[1628218800, 249.25, 249.95, 244.5, 246.55, 63159],
			[1628478000, 246.45, 249.35, 243.5, 248.39999, 116558],
			[1628564400, 253, 261, 247, 260.35001, 188193],
			[1628650800, 259.85001, 266, 253.5, 264.5, 261770],
			[1628737200, 263.20001, 267.55, 259.5, 261.79999, 137461],
			[1628823600, 261, 261.399, 254.4, 260.79999, 95501],
			[1629169200, 256.14899, 259, 247.25, 253.5, 131792],
			[1629255600, 254.95, 258.95, 248.6, 253.5, 82712],
			[1629342000, 252.10001, 259.5, 247, 257.79999, 110621],
		],
	}),
	created() {
		this.callApi();
	},
	mounted() {
		window.addEventListener("resize", this.screen);
		this.screen();
		setTimeout(this.agregarDatos, 10000);
	},
	methods: {
		agregarDatos() {
			console.log("test");
			let ele = this.dataAgregar.shift()
			this.historico.push(ele)
			setTimeout(this.agregarDatos, 4000)
		},
		screen() {
			let body = document.querySelector("body");
			this.width = body.offsetWidth;
			this.height = body.offsetHeight - 1;
		},
		async callApi() {
			this.dataGrafico = new DataCube(this.dataChart);
		},
	},

	computed: {
		colors() {
			return this.night
				? {
						back: "#121827",
						grid: "#3e3e3e",
						text: "#35a776",
						cross: "#dd64ef",
						candle_dw: "#e54077",
						wick_dw: "#e54077",
				  }
				: {
						back: "#fff",
						grid: "#eee",
						text: "#333",
						candle_dw: "black",
						wick_dw: "black",
				  };
		},
		dataChart() {
			return {
				ohlcv: this.historico,
			};
		},
	},
};
</script>
<style>
.night-mode {
	color: #888;
	font: 11px -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
</style>
