<template>
	<div v-if="dataGrafico">
		<v-btn @click="actualizarData()">mostrar/ocultar</v-btn>
		<trading-vue
			:data="dataGrafico"
			:title-txt="dataApiArray[0][1]"
			:width="width"
			:height="height"
			:toolbar="true"
			:overlays="overlays"
			:color-back="colors.back"
			:color-grid="colors.grid"
			:color-text="colors.text"
			:color-cross="colors.cross"
			:color-candle-dw="colors.candle_dw"
			:color-wick-dw="colors.wick_dw"
			:color-title="colors.tvTitle"
		>
		</trading-vue>
	</div>
</template>
<script>
import { DataCube } from "trading-vue-js";
import TradingVue from "trading-vue-js";
import axios from "axios";
import FormData from "form-data";

export default {
	name: "MainChart",
	components: { TradingVue },

	data: () => ({
		overlays: [],
		mostrar: true,
		night: true,
		dataGrafico: null,
		historico: null,
		width: 320,
		height: 480,
		dataApiArray: [
			["especie", "BMA"],
			["limite", "100"],
			["offset", "0"],
			["orden", "asc"],
			["avanzado", "1"],
		],
	}),
	created() {
		this.callApi();
	},
	mounted() {
		window.addEventListener("resize", this.screen);
		this.screen();
	},
	methods: {
		async callApi() {
			const form_data = new FormData();
			this.dataApiArray.forEach((element) => {
				form_data.append(element[0], element[1]);
			});

			try {
				let res = await axios.post(
					"https://clasico.rava.com/lib/restapi/v0/publico/cotizaciones/historicos",
					form_data,
					{}
				);
				this.historico = res.data.body;
				this.dataGrafico = new DataCube(this.dataChart);
			} catch (error) {
				console.log(error);
			}
		},
		// 	actualizarData() {
		// 	this.mostrar = !this.mostrar;
		// 	if (this.mostrar) {
		// 		this.dataGrafico.show(".");
		// 	} else {
		// 		this.dataGrafico.hide(".");
		// 	}
		// },
		actualizarData() {
			this.mostrar = !this.mostrar;
			if (this.mostrar) {
				this.dataGrafico.show(".");
			} else {
				this.dataGrafico.hide(".");
			}
		},
		screen() {
			let body = document.querySelector("body");
			this.width = body.offsetWidth;
			this.height = body.offsetHeight - 1;
		},
	},

	computed: {
		colors() {
			return this.night
				? {
						back: "#121827",
						grid: "#3e3e3e",
						text: "#35a776",
						cross: "#dd64ef",
						candle_dw: "#e54077",
						wick_dw: "#e54077",
				  }
				: {
						back: "#fff",
						grid: "#eee",
						text: "#333",
						candle_dw: "black",
						wick_dw: "black",
				  };
		},
		dataMapeada() {
			if (!this.historico) {
				return [];
			}
			let res = [];
			this.historico.forEach((element) => {
				let posicion = [
					element.timestamp,
					element.apertura,
					element.maximo,
					element.minimo,
					element.cierre,
					element.volumen,
				];
				res.push(posicion);
			});
			return res;
		},
		dataMapeadaEstocastica() {
			if (!this.historico) {
				return [];
			}
			let res = [];
			this.historico.forEach((element) => {
				let posicion = [
					element.timestamp,
					element.estocastico * (Math.random() + 1),
					element.ma_sto * (Math.random() + 1),
				];
				res.push(posicion);
			});
			return res;
		},
		dataMapeadaMACD() {
			if (!this.historico) {
				return [];
			}
			let res = [];
			this.historico.forEach((element) => {
				let posicion = [
					element.timestamp,
					element.macd * (Math.random() + 1),
					element.macd_trigger * (Math.random() + 1),
				];
				res.push(posicion);
			});
			return res;
		},
		dataMapeadaMedias() {
			if (!this.historico) {
				return [];
			}
			let res = [];
			this.historico.forEach((element) => {
				let posicion = [
					element.timestamp,
					element.ma21 ,
					element.ma42 ,
					element.ma200,
				];
				res.push(posicion);
			});
			return res;
		},
		// offchartConDatos() {
		// 	let offchart = [
		// 		{
		// 			name: "MACD",
		// 			type: "Splines",
		// 			data: this.dataMapeadaMACD,
		// 			settings: {},
		// 		},
		// 		{
		// 			name: "Estocastica",
		// 			type: "Splines",
		// 			data: this.dataMapeadaEstocastica,
		// 			settings: {},
		// 		},
		// 		{
		// 			name: "Medias Móviles",
		// 			type: "Splines",
		// 			data: this.dataMapeadaMedias,
		// 			settings: {},
		// 		},
		// 	];
		// 	return offchart;
		// },
		// offchartSinDatos() {
		// 	let offchart = [];
		// 	return offchart;
		// },
		dataChart() {
			return {
				ohlcv: this.dataMapeada,
				onchart: [
					{
						name: "EMA",
						type: "KC",
						data: this.dataMapeadaMedias,
						settings: {},
					},
				],
				offchart: [
					{
						name: "MACD",
						type: "Splines",
						data: this.dataMapeadaMACD,
						settings: {},
					},
					{
						name: "Estocastica",
						type: "Splines",
						data: this.dataMapeadaEstocastica,
						settings: {},
					},
					{
						name: "Medias Móviles",
						type: "Splines",
						data: this.dataMapeadaMedias,
						settings: {},
					},
				],
				// offchart: [],
			};
		},
	},
	// data [timestamp, open, high, low, close, volume]
};
</script>
<style>
.night-mode {
	color: #888;
	font: 11px -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
</style>
